<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/css/custom-url.css" />
  </head>
  <body>
    <header>
      <nav>
        <h2>URL Shortener</h2>
        <ul>
          <li><a href="https://sci-app.onrender.com">Home</a></li>
          <li><a href="https://sci-app.onrender.com/custom-url">Custom URL</a></li>
          <li><a href="https://sci-app.onrender.com/random-url">Random URL</a></li>
        </ul>
      </nav>
    </header>

    <h1>Custom URL Shortener</h1>
    <main>
      <form action="/custom-url" method="post">
        <div class="input-group">
          <div class="long-url">
            <label for="url">Enter Long URL:</label>
            <input type="text" id="url" name="longUrl" placeholder="https://google.com" />
          </div>

          <div class="custom-code">
            <label for="code">Custom Name</label>
            <input type="text" id="code" name="code" placeholder="custom" />
          </div>
        </div>
        <div class="btns">
          <button>Generate URL</button>
          <!-- <button>Fetch URLS</button> -->
        </div>
      </form>
    </main>
  </body>
</html>
